.question h3 {
    /* margin: 60px; */
    text-align: center;
}

.question ul {
    list-style: none;
    /* margin: 0px; */
    padding-inline-start: 0;

}

.question li {
    box-shadow: 0 0 4px 1px gray;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
    cursor: pointer;
    /* width: 50%; */
}